In [45]:
# QA 1

vaisiu_sarasas = ['obuoliai', 'bananai', 'vyšnios', 'apelsinai', 'kokosai']
for vaisius in vaisiu_sarasas:
    print(vaisius)

obuoliai
bananai
vyšnios
apelsinai
kokosai

In [13]:
# QA 2

vaisiai = {
    'bananai': 6,
    'apelsinai': 7,
    'persikai': 42,
    'obuoliai': 11,
    'kokosai': 2.5,
    'vyšnios': 177
}
for vaisius in vaisiai:
    print(vaisius)

bananai
apelsinai
persikai
obuoliai
kokosai
vyšnios

In [47]:
# QA 3

suma = 0
for vaisius in vaisiai:
    suma += vaisiai[vaisius]
print(suma)

245.5

In [48]:
# QA 4

for vaisius, kiekis in vaisiai.items():
    print(f"{vaisius:20} {kiekis:>10g}")

bananai                       6
apelsinai                     7
persikai                     42
obuoliai                     11
kokosai                     2.5
vyšnios                     177

In [49]:
# QA 5

for vaisius in vaisiai.keys():
    vaisiai[vaisius] -= 10
    if vaisiai[vaisius] < 0:
        vaisiai[vaisius] = abs(vaisiai[vaisius])
print(vaisiai)

{'bananai': 4, 'apelsinai': 3, 'persikai': 32, 'obuoliai': 1, 'kokosai': 7.5, 'vyšnios': 167}

In [50]:
# QA 6

for step in range(10, 0, -1):
    print(step)

10
9
8
7
6
5
4
3
2
1

In [51]:
# QA 7

for vaisius in vaisiai:
    if vaisius == 'obuoliai':
        print(vaisius, vaisiai[vaisius])
        break
    print(vaisius)

bananai
apelsinai
persikai
obuoliai 1

In [52]:
# QA 8

for vaisius, kiekis in vaisiai.items():
    if kiekis <= 10:
        continue
    print(f"{vaisius:10} {kiekis:>10g}")

persikai           32
vyšnios           167

In [17]:
# QA 9
# run QA 2 to reset data

for vaisius, kiekis in vaisiai.items():
    if not type(kiekis) in (int, float) or kiekis < 0:
        print(f"{vaisius} vaisiaus kiekis \"{kiekis}\" yra blogas")
        break
else:
    print("visi vaisių kiekiai tvarkingi")

antimaterinis vaisiaus kiekis "-7" yra blogas

In [15]:
# test case 1: negative
vaisiai['antimaterinis'] = -7

In [16]:
# test case 2: not a number
vaisiai['slyvos'] = 'supuvusios'

In [56]:
# QA 10

knygos = [
    '"Homo Deus: A Brief History of Tomorrow" by: Yuval Noah Harari',
    '"Children of Time" by: Adrian Tchaikovsky',
    '"We Are Legion (We Are Bob): Bobiverse, Book 1" by: Dennis E. Taylor',
    '"Guns, Germs and Steel: The Fate of Human Societies" by: Jared Diamond',
]
for eile, knyga in enumerate(knygos):
    print(eile, knyga)

0 "Homo Deus: A Brief History of Tomorrow" by: Yuval Noah Harari
1 "Children of Time" by: Adrian Tchaikovsky
2 "We Are Legion (We Are Bob): Bobiverse, Book 1" by: Dennis E. Taylor
3 "Guns, Germs and Steel: The Fate of Human Societies" by: Jared Diamond

In [57]:
# QA 11

mokinio_pazymiai = {
    'Alicija': {'Matematika': 85, 'Mokslas': 92, 'Istorija': 88},
    'Bobas': {'Matematika': 78, 'Mokslas': 85, 'Istorija': 90},
    'Charlis': {'Matematika': 92, 'Mokslas': 88, 'Istorija': 76}
}

for mokinys, dalykai in mokinio_pazymiai.items():
    print(mokinys)
    for dalykas, pazymys in dalykai.items():
        print('-', dalykas, pazymys)

Alicija
- Matematika 85
- Mokslas 92
- Istorija 88
Bobas
- Matematika 78
- Mokslas 85
- Istorija 90
Charlis
- Matematika 92
- Mokslas 88
- Istorija 76

In [58]:
# A1

zodziai = []
for kelintas in range(1, 6):
    zodis = input(f'Įveskite {kelintas} žodį: ')
    zodziai.append(zodis)
for eile, zodis in enumerate(zodziai):
    print(f'{eile+1} {len(zodis):>5} {zodis}')

In [ ]:
# A2

visi_metai = range(1900, 2101)
for metai in visi_metai:
    if metai % 4 == 0 and metai % 100 != 0 or metai % 400 == 0:
        print(metai)

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096